#bg-image-wrapper {
    height: 100vh;
    background-image: url('../images/ca-bg-plain.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
}

#brand-logo-img {
    background-image: url('../images/ca-logo.jpg');
    height: 50px;
    width: 200px;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

#text-right {
    padding: 50vh 10px 0 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: x-large;
    background-color: moccasin;
    align-items: right;
}

#text-left {
    padding: 50vh 10px 0 10px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: x-large;
    background-color: honeydew;
}

.spinner-blue, .spinner-blue-only {
  border-color: rgb(146, 215, 218) !important;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

.nav-wrapper #nav-mobile.right.hide-on-med-and-down li button {
    border: none;
    background: none
}

.nav-wrapper #nav-mobile.right.hide-on-med-and-down li button:hover {
    cursor: pointer;
}

.nav-wrapper #nav-mobile.right.hide-on-med-and-down li:hover {
    background: rgb(238, 237, 237);
}

.content-wrapper {
    background: rgb(246, 244, 244);
    height: 100vh;
    padding: 15px;
    display: flex;
}

.sidebar-menu {
    background: white;
    height: 90vh;
    width: 20vw;    
    margin: 10px;
    border: 1px none;
    box-shadow: 1px 1px 2px 1px lightgrey;
}

.sidebar-menu ul li {
    background: moccasin;
    border: 1px none;
    padding: 5px;
    margin: 15px;
    box-shadow: 1px 1px 2px 1px lightgrey;
}

.sidebar-menu ul li:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px lightgrey;
}

.main-content {
    height: 90vh;
    width: 70vw;    
    margin: 10px;
    display: flex;
}

.content-box {
    background: white;
    height: 43vh;
    width: 32.5vw;
    margin: 0 0 5px 0;
    border: 1px none;
    box-shadow: 1px 1px 2px 1px lightgrey;
    display: block;
    overflow-y: scroll;
}

.content-box header {
    color: lightslategrey;
    padding: 1em 0px;
    border-bottom: 0.5px solid moccasin;
    background: moccasin;
}

.content-box h6 {
    font-weight: bold;
    margin: 0px;
  }

.content-box::-webkit-scrollbar {
    width: 0.5em;
    background: moccasin;
}

.content-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(211,211,211,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.content-box::-webkit-scrollbar-thumb {
    background-color: honeydew;
    outline: 1px solid darkgray;
}

.list-wrapper {
    display: flex;
    border: 1px none;
    box-shadow: 1px 1px 2px 0px lightgrey;
    margin-bottom: 5px;
    padding: 5px;
}
.list-wrapper p, .list-wrapper span {
    margin: 0px;
}
.list-wrapper:hover {
    background-color: honeydew;
    cursor: pointer;
}

.list-wrapper span i {
    font-size: small;
    font-style: normal;
    font-weight: lighter;
}

.actor-wrapper-sm {
    margin-left: 2vw;
    display: flex;
    flex-direction: inherit;
}

.joined-date-wrapper{
    margin-left: 20vw;
}
